{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-telenot" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
<div class="container-fluid">
	{% if error_warning %}
	<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_description }}</h3>
		</div>
		<div class="panel-body">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-telenot" class="form-horizontal">

		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab-settings" data-toggle="tab">{{ tab_settings }}</a></li>
			<li><a href="#tab-help" data-toggle="tab">{{ tab_help }}</a></li>
		</ul>
		<div class="tab-content">

			<div class="tab-pane fade" id="tab-help">
				HELP ME
			</div>

			<div class="tab-pane fade active in" id="tab-settings">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-enabled">{{ entry_enabled }}</label>
					<div class="col-sm-10">
						<select name="telenot-enabled" class="form-control">
						{% if data['telenot-enabled'] == 0 %}
							<option value="1">{{ text_enable }}</option>
							<option value="0" selected="selected">{{ text_disable }}</option>
						{% else %}
							<option value="1" selected="selected">{{ text_enable }}</option>
							<option value="0">{{ text_disable }}</option>
						{% endif %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-message">
						<span data-toggle="tooltip" data-original-title="{{ help_message }}">{{ entry_message }}</span>
					</label>
					<div class="col-sm-10">
						<div class="btn-group-xs btn-group" role="group">
							<button class="btn btn-default btni" type="button" data-insert="{OrderID}" data-target="input-message-admin">{{ button_orderid }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{StoreName}" data-target="input-message-admin">{{ button_storename }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{Total}" data-target="input-message-admin">{{ button_total }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{FirstName}" data-target="input-message-admin">{{ button_name }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{LastName}" data-target="input-message-admin">{{ button_lastname }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{City}" data-target="input-message-admin">{{ button_city }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{Address}" data-target="input-message-admin">{{ button_address }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{Phone}" data-target="input-message-admin">{{ button_phone }}</button>
							<button class="btn btn-default btni" type="button" data-insert="{Comment}" data-target="input-message-admin">{{ button_comment }}</button>
						</div>
						<textarea name="telenot-message" rows="5" placeholder="{{ entry_message }}" id="input-message" class="form-control">{{ data['telenot-message'] }}</textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-apikey">{{ entry_api_key }}</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" id="input_check_api" placeholder="{{ entry_api_key }}">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" id="checkAPI" title="{{ entry_check_api }}"><i class="fa fa-save"></i></button>
							</span>
						</div>
						<input name="telenot-apikey" type="text" readonly="readonly" placeholder="{{ entry_api_key }}" id="input-apikey" class="form-control" value="{{ data['telenot-apikey'] }}">
					</div>
				</div>

				<table id="chats" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="text-left">{{ entry_chat_id }}</th>
						<th class="text-left">{{ entry_chat_name }}</th>
						<th style="width:15%"></th>
					</tr>
				</thead>
				<tbody>
					{% set chat_row = 0 %}
					{% if data['telenot-chats'] %}
					{% for chat in data['telenot-chats'] %}
					<tr id="chat_row{{ chat_row }}">
						<td class="text-left">
						<input type="text" name="telenot-chats[{{ chat_row }}][id]" value="{{ chat.id }}" placeholder="{{ entry_chat_id }}" class="form-control" />
						</td>
						<td class="text-left" >
						<input type="text" name="telenot-chats[{{ chat_row }}][name]" value="{{ chat.name }}" placeholder="{{ entry_chat_name }}" class="form-control" />
						</td>
						<td class="text-left">
						<button type="button" onclick="$('#chat_row{{ chat_row }}, .tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
						</td>
					</tr>
					{% set chat_row = chat_row + 1 %}
					{% endfor %}
					{% endif %}
				</tbody>
					<tfoot>
						<tr>
						<td colspan="2"></td>
						<td class="text-left"><button type="button" onclick="addChat();" data-toggle="tooltip" title="{{ button_chat_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
						</tr>
					</tfoot>
				</table>

				<div id="result"></div>
			</div>
		</div>

		</form>

	</div>
</div>

<script type="text/javascript">
var chat_row = {{ chat_row }};

function addChat() {
	html  = '<tr id="chat_row' + chat_row + '">';
	html += '  <td class="text-left"><input type="text" name="telenot-chats[' + chat_row + '][id]" value="" placeholder="{{ entry_chat_id }}" class="form-control" /></td>';	
	html += '  <td class="text-left"><input type="text" name="telenot-chats[' + chat_row + '][name]" value="" placeholder="{{ entry_chat_name }}" class="form-control" /></td>';	
	
	html += '  <td class="text-left"><button type="button" onclick="$(\'#chat_row' + chat_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#chats tbody').append(html);
	
	chat_row++;
}
$(document).ready(function() {

	$("input[name=telenot-order-change]").change(function(){
		if ($(this).is(':checked')) {
			$("input[name=telenot-order-change-notice]").prop('disabled', false);
		} else {
			$("input[name=telenot-order-change-notice]").prop('disabled', true);
			$("input[name=telenot-order-change-notice]").prop('checked', false);
		}
	});

	$(".digitOnly").keyup(function() {
		$(this).val($(this).val().replace(/[^\d,]/g, ''));
	});

	$("#checkAPI").click(function() {
		var api = $('#input_check_api').val();

		if (api.length > 44) {

			$('#arbitrary').removeClass('has-error');
			var data = "&telenot-apikey=" + api;
			var btn = $(this);
			btn.button('loading');
			$.ajax({
				type: "POST",
				url: "index.php?route=extension/module/telenot/check_api&store_id=0&user_token={{ user_token }}",
				cache: false,
				data: data,
				success: function(html){
					try {
						jsonData = $.parseJSON(html);
						if (jsonData['error'] == 0) {
							$('#result').html('<div class="alert alert-success">'+jsonData['text']+'</div>');
							$('#input-apikey').val(api);
						} else {
							$('#result').html('<div class="alert alert-danger">'+jsonData['text']+'</div>');
						}
					} catch (e) {
						$('#result').html('<div class="alert alert-danger">Error</div>');
					}
				},
			});
			btn.button('reset');
		}
	});

	$("#send").click(function() {
		if (($('#input-to option:selected').val() == 4) && ($('#input-arbitrary').val().length < 11)) {
			$('#arbitrary').addClass('has-error');
		} else {
			$('#arbitrary').removeClass('has-error');
			var data = "&telenot-sender="+$('#input-sender').val()+"&telenot-apikey="+$('#input-apikey').val()+"&message="+$('#input-message').val()+"&to="+$('#input-to option:selected').val()+"&arbitrary="+$('#input-arbitrary').val();
			var btn = $(this);
			btn.button('loading');
			$.ajax({
				type: "POST",
				url: "index.php?route=extension/module/telenot/massend&user_token={{ user_token }}",
				cache: false,
				data: data,
				success: function(html){
					try {
						jsonData = $.parseJSON(html);
						if (jsonData['error'] != 100) {
							$('#multi-result').html('<div class="alert alert-danger">'+jsonData['text']+'</div>');
						} else {
							$('#multi-result').html('<div class="alert alert-success">'+jsonData['text']+'</div>');
							$('#balance').html('{{ entry_balance }} '+jsonData['balance']);
						}
					} catch (e) {
						$('#multi-result').html('<div class="alert alert-danger">Error: ('+html+')</div>');
					}
					btn.button('reset');
				},
			});
		}
	});
	jQuery.fn.extend({
		insertAtCaret: function(myValue) {
		return this.each(function(i) {
			if (document.selection) {
				this.focus();
				var sel = document.selection.createRange();
				sel.text = myValue;
				this.focus();
			} else if (this.selectionStart || this.selectionStart == '0') {
				var startPos = this.selectionStart;
				var endPos = this.selectionEnd;
				var scrollTop = this.scrollTop;
				this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
				this.focus();
				this.selectionStart = startPos + myValue.length;
				this.selectionEnd = startPos + myValue.length;
				this.scrollTop = scrollTop;
			} else {
				this.value += myValue;
				this.focus();
			}
		});
		}
	});

	$('.btni').click(function() {
		var target = $(this).data('target');
		var text = $(this).data('insert');
		$('#' + target).insertAtCaret(text);
	});

});
</script>
</div>
{{ footer }}